absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.7
aiosignal==1.3.1
alembic==1.14.0
aniso8601==9.0.1
annotated-types==0.7.0
ansicon==1.89.0
anyio==4.6.2.post1
asgiref==3.8.1
astroid==3.3.5
asttokens==2.4.1
asyncio==3.4.3
attrs==24.2.0
autopep8==2.3.1
babel==2.16.0
base58==2.1.1
bbcode==1.1.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
bottle==0.13.4
cachelib==0.13.0
cefpython3==66.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
clipboard==0.0.4
clr_loader==0.2.7.post0
colorama==0.4.6
comm==0.2.2
console==0.9909
contourpy==1.3.0
cryptography==43.0.3
cs50==9.4.0
customtkinter==5.2.2
cv2-plt-imshow==0.0.1
cycler==0.12.1
darkdetect==0.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.15
diff-match-patch==20241021
dill==0.3.9
distlib==0.3.9
distro==1.9.0
Django==5.1.3
django-core==1.4.1
django-crispy-forms==2.3
django-import-export==4.3.1
djangorestframework==3.15.2
dnspython==2.7.0
docker==7.1.0
dominate==2.9.1
drf-extensions==0.7.1
edge-tts==6.1.19
elastic-transport==8.15.1
elasticsearch==8.15.1
email_validator==2.2.0
et_xmlfile==2.0.0
event-bus==1.0.2
executing==2.1.0
ezenv==0.92
Faker==37.1.0
feedparser==6.0.11
fernet==1.0.1
filelock==3.16.1
Flask==3.0.3
Flask-Assets==2.1.0
flask-babel==4.0.0
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Cors==5.0.0
Flask-Ext==0.1
Flask-HTTPAuth==4.8.0
Flask-JSON==0.4.0
Flask-JWT-Extended==4.7.1
Flask-Limiter==3.8.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.0.7
Flask-Minify==0.48
Flask-Moment==1.0.6
flask-mongoengine==1.0.0
Flask-MySQLdb==2.0.0
Flask-OpenID==1.3.1
Flask-PageDown==0.4.0
Flask-RESTful==0.3.10
Flask-Script==2.0.6
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-Uploads==0.2.1
Flask-WTF==1.2.1
flatbuffers==24.12.23
fonttools==4.54.0
frozenlist==1.5.0
future==1.0.0
gevent==24.11.1
google_search_results==2.4.2
googlesearch-python==1.2.5
greenlet==3.1.1
grequests==0.7.0
gTTS==2.5.3
gunicorn==23.0.0
h11==0.14.0
heroku3==5.2.1
htmlminf==0.1.13
httpcore==1.0.7
httpx==0.27.2
idna==3.10
imgviz==1.7.5
importlib_resources==6.4.5
imshow==0.2.3.post0
ipython==8.27.0
ipywidgets==8.1.5
isort==5.13.2
itsdangerous==2.2.0
jax==0.4.38
jaxlib==0.4.38
jdcal==1.4.1
jedi==0.19.1
Jinja2==3.1.4
jinxed==1.3.0
jiter==0.7.1
joblib==1.4.2
jsmin==3.0.1
json-config==2.0.1
jsonpickle==4.0.0
jupyterlab_widgets==3.0.13
jwt==1.3.1
kiwisolver==1.4.7
langcodes==3.5.0
langdetect==1.0.9
language_data==1.3.0
lazy-object-proxy==1.10.0
lesscpy==0.15.1
limits==3.13.0
lxml==5.3.0
Mako==1.3.6
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.20
ml_dtypes==0.5.0
mongoengine==0.29.1
MouseInfo==0.1.3
msgspec==0.18.6
multidict==6.1.0
mutagen==1.47.0
mysql==0.0.3
mysql-connector-python==9.1.0
mysqlclient==2.2.5
nltk==3.9.1
numpy==1.26.4
odfpy==1.4.1
Online-Book-Store==1.0
openai==1.55.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
openpyxl==3.1.5
opt_einsum==3.4.0
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==24.1
pafy==0.5.5
pandas==2.2.3
parso==0.8.4
passlib==1.7.4
pillow==10.4.0
platformdirs==4.3.6
ply==3.11
prometheus_client==0.21.0
prompt_toolkit==3.0.47
propcache==0.2.0
protobuf==4.25.5
proxy_tools==0.1.0
psycopg2==2.9.10
pure_eval==0.2.3
pyaes==1.6.1
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.1
pydantic_core==2.27.1
pydub==0.25.1
pygame==2.6.0
pygame-menu==4.4.8
PyGetWindow==0.0.9
pyglet==2.0.17
Pygments==2.18.0
PyJWT==2.10.0
pylint==3.3.1
pymongo==4.10.1
PyMsgBox==1.0.9
PyMySQL==1.1.1
pyparsing==3.1.4
pyperclip==1.9.0
pypiwin32==223
PyRect==0.2.0
Pyrogram==2.0.106
PyScreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-vlc==3.0.21203
python3-openid==3.2.0
python3-xlib==0.15
pythonnet==3.0.5
PyTMX==3.32
pytube==15.0.0
pytube3==9.6.4
pytweening==1.2.0
pytz==2024.2
pywebview==6.0
pywhatkit==5.4
pywin32==308
PyYAML==6.0.2
rcssmin==1.1.3
redis==5.2.0
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rq==2.0.0
scipy==1.14.1
screeninfo==0.8.1
selenium==4.27.1
sentencepiece==0.2.0
setuptools==75.6.0
sgmllib3k==1.0.0
simpy==4.1.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.1
soupsieve==2.6
SpeechRecognition==3.10.4
SQLAlchemy==2.0.35
sqlparse==0.5.1
stack-data==0.6.3
stripe==11.2.0
tablib==3.7.0
termcolor==2.5.0
tkcalendar==1.6.1
tkhtmlview==0.3.1
tkinterhtml==0.7
tkinterweb==4.6.0
tkinterweb-tkhtml==2.0.0
tomlkit==0.13.2
tqdm==4.67.0
traitlets==5.14.3
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
unicodecsv==0.14.1
urllib3==2.2.3
virtualenv==20.27.1
visitor==0.1.3
wcwidth==0.2.13
webassets==2.0
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.0.4
wget==3.2
wheel==0.44.0
widgetsnbextension==4.0.13
wikipedia==1.4.0
wrapt==1.17.0
wsproto==1.2.0
WTForms==3.1.2
xlrd==2.0.1
xlwt==1.3.0
xxhash==3.5.0
yarl==1.18.0
youtube-dl==2021.12.17
YouTubeDownloader==1.1.3
youtubepy==6.0.2
zope.event==5.0
zope.interface==7.1.1
